# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.CalculatedAdrenalineJunkie.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity projects\Calculated Adrenaline Junkie\CalculatedAdrenalineJunkie\.idea\.idea.CalculatedAdrenalineJunkie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
